{%- if paginate.parts.size > 0 -%}
  <div class="Pagination">
    <nav class="flex justify-center" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="flex items-center space-x-1" role="list">
      {%- if paginate.previous -%}
        <li>
          <a href="{{ paginate.previous.url }}{{ anchor }}" class="transition-opacity duration-200 ease-in-out px-2 hover:opacity-75" aria-label="{{ 'general.pagination.previous' | t }}">
            {% render "icons", icon: "chevron-left", size: "xsmall" %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="transition-opacity duration-200 ease-in-out px-2 hover:opacity-75" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <span class="transition-opacity duration-200 ease-in-out px-2 hover:opacity-75" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
            {%- else -%}
              <span class="inline-block px-2">{{ part.title }}</span>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li>
          <a href="{{ paginate.next.url }}{{ anchor }}" class="transition-opacity duration-200 ease-in-out px-2 hover:opacity-75" aria-label="{{ 'general.pagination.next' | t }}">
            {%- render "icons", icon: "chevron-right", size: "xsmall" -%}
          </a>
        </li>
      {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
