<section class="my-7.5 md:mt-15 md:mb-18">
  <div class="max-w-screen-lg mx-auto px-3.5 xs:px-7.5 lg:px-[25px]">
    <div class="pb-5 md:border-b md:border-solid md:pb-18">
      <div class="max-w-6xl mx-auto lg:px-8">
        <div class="space-y-5 sm:space-y-10">
          {% if block.settings.title != blank %}
            <h2 class="font-body tracking-normal text-24 sm:text-center">
              {{ block.settings.title }}
            </h2>
          {% endif %}

          {% if block.settings.video != blank %}
            <div
              data-component="ModalVideo"
              data-video-id="{{ block.settings.video.id }}"
            >
              <div class="relative flex items-center justify-center rounded-2xl overflow-hidden">
                <div class="w-full aspect-w-16 aspect-h-9">
                  <img
                    src="https://i.ytimg.com/vi_webp/{{ block.settings.video.id }}/maxresdefault.webp"
                    width="720"
                    height="480"
                    alt="{{ section.settings.title }}"
                    loading="lazy"
                  >
                </div>

                <button
                  type="button"
                  class="absolute z-3 text-brand-tertiary"
                  aria-label="Play video"
                  data-modal-trigger="product-video-{{ section.id }}-{{ block.settings.video.id }}"
                >
                  {% render 'icons',
                    icon: 'play',
                    size: 'large',
                    className: '!w-20 !h-20 md:!w-35 md:!h-35'
                  %}
                </button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% if block.settings.video != blank %}
  <div
    class="Modal"
    data-component="Modal"
    data-modal-id="product-video-{{ section.id }}-{{ block.settings.video.id }}"
  >
    <div class="Modal__Overlay" data-modal-overlay></div>
    <div class="Modal__Inner max-w-[800px] !bg-transparent">
      <button
        type="button"
        class="Modal__Close z-1 text-white"
        data-modal-close
        aria-label="Close modal"
      >
        {% render 'icons', icon: 'close', size: 'large' %}
      </button>

      <div class="aspect-w-16 aspect-h-9" data-modal-content></div>
    </div>
  </div>
{% endif %}
