<div class="min-h-view py-5">
  {% render "account-titles" %}

  <div class="max-w-screen-lg mx-auto px-5 lg:px-[25px]">
    <div class="max-w-screen-md">
      <div class="mt-6 border border-solid rounded-8">
        <div class="px-4 mb-6">
          <div class="py-4 border-0 border-b border-solid border-black sm:border-0">
            <div class="flex flex-col space-y-6  sm:flex-row sm:space-y-0">
              <div class="sm:w-[30%]">
                <p class="font-semibold">{{ "customer.orders.date" | t }}</p>
                <p>{{ order.created_at | date: "%b %d, %Y" }}</p>
              </div>

              <div class="sm:w-[40%]">
                <p class="font-semibold">{{ "customer.orders.number" | t }}</p>
                <p>{{ order.name }}</p>
              </div>

              <div class="sm:w-[30%]">
                <p class="font-semibold">{{ "customer.orders.status" | t }}</p>

                {% if order.cancelled %}
                  <p>{{ "customer.orders.cancelled" | t }}</p>
                {% elsif order.financial_status %}
                  <p>{{ order.financial_status }}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="p-4 space-y-4 mb-6">
          {% for line_item in order.line_items %}
            <div class="">
              <div class="relative">
                <div class="flex items-center">
                  {% if line_item.image != blank %}
                    <div class="w-24 flex justify-center shrink-0">
                      {% assign image_url = line_item.image | image_url: width: 200 %}
                      {% assign image_alt = line_item.image.alt | escape %}
  
                      <div class="w-40">
                        {%
                          render "component-image",
                          src: image_url,
                          alt: image_alt,
                          aspect: "portrait"
                        %}
                      </div>
                    </div>
                  {% endif %}
  
                  <div class="w-full pl-8 sm:flex">
                    <div class="flex flex-col items-start sm:w-1/3 sm:pr-10">
                      <a href="{{ line_item.url }}">
                        <h3 class="text-base font-body font-medium">{{ line_item.product.title }}</h3>
                      </a>
  
                      {% if line_item.properties.size > 0 %}
                        <ul class="flex flex-col justify-start">
                          {% for p in line_item.properties %}
                            {% assign property_first_char = p.first | slice: 0 %}
  
                            <li class="mt-4{% if p.last == blank or property_first_char == '_' %} hidden{% endif %}">
                              <span>{{ p.first }}: </span>
                              <span class="text-brand-tertiary-500">
                                {% if p.last contains '/uploads/' %}
                                  <a href="{{ p.last }}" data-role="product-upload">{{ p.last | split: '/' | last }}</a>
                                {% else %}
                                  {{ p.last }}
                                {% endif %}
                              </span>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>

                    <div class="flex mt-5 sm:mt-0 sm:pr-10">
                      <div class="sm:w-24 sm:pr-10">
                        {% unless line_item.product.has_only_default_variant %}
                          {%- liquid
                            assign size_names = "Size, Größe" | split: ", "
                            assign size_name = "Size"
                            assign selected_size = blank

                            for option in line_item.options_with_values
                              if size_names contains option.name
                                assign size_name = option.name
                                assign selected_size = option.value
                                break
                              endif
                            endfor
                          -%}

                          {% if selected_size != blank %}
                            <div>
                              <div>{{ size_name }}</div>

                              <div class="text-12 text-brand-tertiary-500">
                                {{ selected_size }}
                              </div>
                            </div>
                          {% endif %}
                        {% endunless %}
                      </div>

                      <div class="ml-auto">
                        <div>{{ 'cart.item.quantity' | t }}</div>

                        <div class="text-12 text-brand-tertiary-500">
                          {{ line_item.quantity }}
                        </div>
                      </div>
                    </div>

                    <div class="PriceList text-brand-tertiary-500 mt-3 sm:text-brand-text sm:mt-0 sm:ml-auto">
                      <span class="font-heading">{{ line_item.price | money }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {%- comment -%}
        <div class="px-4 mt-2 mb-3 sm:mt-0 sm:mb-4">
          <div class="border-0 border-t border-solid border-brand-tertiary-500">
            <div class="py-3 sm:py-6">
              <div class="space-y-4 sm:flex sm:items-center sm:space-y-0">
                <div class="flex items-center sm:w-full">
                  {% render "icons", icon: "return", className: "!w-5 !h-5 shrink-0 mr-4 sm:mr-6" %}

                  <div class="sm:pr-6">
                    <strong class="font-semibold">{{ "customer.order.return.title" | t }}</strong>
                    <p>{{ "customer.order.return.text" | t }}</p>
                  </div>
                </div>

                <div class="shrink-0 sm:w-[260px]">
                  <a href="https://notrevoyage.returnscenter.com" class="Button Button--normal-case !max-w-none">
                    {{ "customer.order.return.button" | t }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%- endcomment -%}

        <div class="px-4 sm:hidden">
          <div class="border-0 border-t border-solid border-black">
            <div class="flex flex-col items-end w-full shrink-0 mt-3">
              <table class="w-full unstyled">
                <tr class="text-black">
                  <td class="px-0 py-1">{{ "customer.orders.subtotal" | t }}</td>
                  <td class="px-0 py-1 text-right">{{ order.subtotal_price | money }}</td>
                </tr>

                <tr class="text-black">
                  <td class="px-0 py-1">{{ "customer.orders.shipping" | t }}</td>
                  <td class="px-0 py-1 text-right">{{ order.shipping_price | money }}</td>
                </tr>

                <tr aria-hidden="true"><td class="pt-4"></td></tr>

                <tr class="border-0 border-t border-solid">
                  <td class="px-0 py-4">{{ "customer.orders.total" | t }}</td>
                  <td class="px-0 py-4 text-right font-semibold">{{ order.total_price | money }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="sm-down:hidden py-14">
        <div class="flex justify-end">
          <div class="w-full max-w-xs">
            <table class="w-full unstyled">
              <tr class="text-brand-tertiary-500">
                <td class="px-0 py-1">{{ "customer.orders.subtotal" | t }}</td>
                <td class="px-0 py-1 text-right">{{ order.subtotal_price | money }}</td>
              </tr>

              <tr class="text-brand-tertiary-500">
                <td class="px-0 py-1">{{ "customer.orders.shipping" | t }}</td>
                <td class="px-0 py-1 text-right">{{ order.shipping_price | money }}</td>
              </tr>

              <tr aria-hidden="true"><td class="pt-4"></td></tr>

              <tr class="border-0 border-t border-solid">
                <td class="px-0 py-4">{{ "customer.orders.total" | t }}</td>
                <td class="px-0 py-4 text-right font-semibold">{{ order.total_price | money }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
