
<style>
  .ColumnsSlider__ItemImage-radius img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
  }
  #{{section.id}}.ColumnsSlider{
    padding-top: {{section.settings.padding_top}}rem;
    padding-bottom: {{section.settings.padding_bottom}}px;
  }
  @media (max-width: 939px) {
    #{{section.id}}.ColumnsSlider{
      padding-top: {{section.settings.padding_top_mobile}}rem;
      padding-bottom: {{section.settings.padding_bottom_mobile}}px;
    }
  }
</style>
{% if section.blocks.size > 0 %}
  <section
    class="ColumnsSlider"
    id="{{section.id}}"
    data-component="ColumnsSlider">
    <div class="max-w-screen-lg mx-auto px-3.5 lg:px-[25px]">
      <div class="" data-slider="container">
        <div class="ColumnsSlider__Wrapper flex">
          {% for block in section.blocks %}
            {% if block.settings.title != blank %}
              {% liquid
                assign tag = "div"

                if block.settings.url != blank
                  assign tag = "a"
                endif
              %}

              <{{ tag }}
                class="ColumnsSlider__Item"
                {% if block.settings.url != blank %}
                href="{{ block.settings.url }}"
                {% endif %}>
                <div class="ColumnsSlider__ItemImage {% if block.settings.add_radius %}ColumnsSlider__ItemImage-radius{% endif %}">
                  {% if block.settings.image != blank %}
                    {{ block.settings.image | image_url: width: 800 | image_tag:
                     loading: "lazy",
                     class: "w-auto",
                     sizes: "(min-width: 768px) 360px, 100vw",
                     widths: "400, 600, 800, 1200, 1600, 2000, 2400, 3200, 3800",
                     alt: block.settings.image.alt | escape }}
                  {% endif %}
                  {% if block.settings.background != blank %}
                    <div class="ColumnsSlider__Item-background" style="background-image: url({{ block.settings.background | img_url: '800x' }})"></div>
                  {% endif %}
                </div>

                <div class="ColumnsSlider__ItemContent">
                  <h3 class="text-50 text-center uppercase">
                    {{ block.settings.title }}
                  </h3>
                </div>
              </{{ tag }}>
            {% endif %}
          {% endfor %}
        </div>

        <div class="ColumnsSlider__Pagination"></div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
  {
    "name": "Columns slider",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top rem",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "rem",
        "default": 19
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "label": "Padding Top Mobile rem",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "rem",
        "default": 19
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom px",
        "default": 48
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom Mobile px",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 48
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, 
          {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
          },
          {
            "type": "checkbox",
            "id": "add_radius",
            "label": "Image Radius"
          }, {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          }, {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Columns slider",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}