{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<section>
  <div class="container--l mxa">
    <div class="outer">
      <div class="splash f aie">
        <div class="splash-content">
          <div class="splash-content__hero">
            <h2 class="heading heading--primary">{{ 'general.password_page.opening_soon' | t }}</h2>
            <h3 class="text caps">{{ 'general.password_page.spread_the_word' | t }}</h3>
          </div>
          <p class="splash-content__text">{{ 'general.password_page.opening_soon_text_html' | t }}</p>
          {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
              <ul class="form-success">
                <li>{{ 'general.password_page.signup_form_success' | t }}</li>
              </ul>
            {% else %}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <div class="input">
                <label class="input__label inline-block">
                  {{ 'general.password_page.signup_form_heading' | t }}
                </label>
                <div class="f aic rel">
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                    required>
                  <button type="submit" name="commit" class="button input__button caps bold">
                    {{ 'general.password_page.signup_form_submit' | t }}
                  </button>
                </div>
              </div>
            {% endif %}
          {% endform %}
        </div>
        
        {% if settings.password_image != blank %}
          <div class="splash-image rel">
            <img
              width="{{ settings.password_image.width }}"
              height="{{ settings.password_image.height }}"
              loading="eager"
              src="{{ settings.password_image | img_url: 'master' }}"
              alt="{{ shop.name }}"
            >
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<a class="hide" href="#Login">
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>

{%- form 'storefront_password', class: 'password-form' -%}
  <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
    <input
      type="password"
      name="password"
      id="Password"
      class="field__input"
      autocomplete="current-password"
      {% if form.errors %}
        aria-invalid="true"
        aria-describedby="PasswordLoginForm-password-error"
      {%- endif -%}
      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
    >
    <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
    {%- if form.errors -%}
      <div id="PasswordLoginForm-password-error" role="status">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
      </div>
    {%- endif -%}
  </div>
  <button name="commit" class="password-button button button--outline">
    {{ 'general.password_page.login_form_submit' | t }}
  </button>
{%- endform -%}
